[Unit]
Description=Ejecuta SATyS CRT una vez al día a la 01:00 America/Mexico_City

[Timer]
OnCalendar=*-*-* 01:00:00 America/Mexico_City
Persistent=false
AccuracySec=1min
RandomizedDelaySec=0
Unit=satys-diario.service

[Install]
WantedBy=timers.target
